<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="boom-button">
        <button @click = "boomClick" style="width: 25px;height: 25px;">{{ bombvalue }}</button>
    </div>
    <div id="boom-button1">
        <button @click = "boomClick" style="width: 25px;height: 25px;">{{ bombvalue }}</button>
    </div>
    
    <script>
        var boomButton = new Vue({
            el: '#boom-button',
            data: {
                bombvalue: '-',
                hidevalue: '*'// *, --
            },
            methods: {
                boomClick: function(){
                    if(this.hidevalue == '-') retuen;
                  this.bombvalue = this.hidevalue;

                }
            },
            computed: {

            } 
        });

        var boomButton1 = new Vue({
            el: '#boom-button1',
            data: {
                bombvalue: '-',
                hidevalue: '-'// *, -
            },
            methods: {
                boomClick: function(){
                    if(this.hidevalue == '-') retuen;
                  this.bombvalue = this.hidevalue;

                }
            },
            computed: {

            } 
        });
    </script>
</body>
</html>